html, body
{
	background: linear-gradient(-135deg, #c850c0, #4158d0); 
	font-family: 'Raleway', sans-serif;
}
.container
{
	max-width: 1300px;
	margin: 0 auto;
}

.img , .input
{
	width: 50%;
	background-color: white;
	padding-top: 150px;
}
.img
{
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.img img:hover
{
	transform: rotate(360deg);
	transition: 2s ease;
}
.input
{
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.total
{ 
	width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 130px 0px 95px;
    margin-top: 30px;
}

[type="email"], [type="password"],[type="submit"],[type="text"] , #butto
{	
	border: none;
    outline: none;
    border-radius: 30px;
    width: 300px;
    background-color: #2A4B7C;
    padding: 16px;
    font-size: 19px;
    color: white;
}
[type="email"]:hover, [type="password"]:hover,[type="submit"]:hover
{
	transform: scale(1.02);
}

#butto
{
	width: 328px;
	color: white;
}

::placeholder 
{
	color: white;
	padding: 5px;
	opacity: 0.5;
	font-size: 19px;
}
input[type=text]::-webkit-input-placeholder::after
{
	content: '*';
	color: #9B1B30;
}
.a , .txt2
{
	padding: 85px 5px;
	text-decoration: none;
	font-size: 17px;
}
.txt1
{
	color: #999999;
}
.text-center 
{
    padding-left: 35px;
}

/* SIGN UP*/

button
{
	margin: 37px 5px;
}
#get
{
    border: 0;
    outline: none;
    border-radius: 0;
    width: 330px;
    padding: 15px;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
}