body
{
	background-image: url('../img/bg.jpg');
}
form
{
	margin-top: 30px;
	margin-left: 630px;
	background-color: white;
	max-width: 200px;
	padding: 50px;
	border-radius: 5px;
}
input
{
	padding: 12px;
	border-radius: 5px;
	border:2px solid #004B8D;
	border-top: none;
	border-left: none;
	border-right: none;
}
button	
{
	border: none;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 25px;
}
a
{
	font-size: 12px;
	margin-top: 50px;
	text-decoration: none;
	color: #004B8D;
	font-family: 'Mandali', sans-serif;
}

/************************** 			LOG IN 			*****************************************************/

.btn-login-with 
{
    font-size: 16px;
    line-height: 1.2;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin-top: 0px;
    padding: 15px;
}
.bg1 
{
    background-color: #3b5998;
}
.m-b-10 
{
    margin-bottom: 10px;
}


.bg2 
{
    background-color: #1da1f2;
}
div	
{
	margin-top: 50px;
}
.inp
{
	margin-top: 25px;
}