body
{
	background-image: url('../img/bg.jpg');
}
form
{
	margin-top: 70px;	
	margin-left: 630px;
	background-color: white;
	max-width: 200px;
	padding: 50px;
	border-radius: 5px;
}
input
{
	padding: 12px;
	border-radius: 5px;
	border:2px solid #004B8D;
	border-top: none;
	border-left: none;
	border-right: none;
}
button	
{
	border: none;
	padding: 15px;
	border-radius: 5px;
}