html,body
{
	
	margin: 0;
	padding: 0;	
	background-color: white;
	font-family: 'Raleway', sans-serif;
}

.title
{
	font-family: 'Monoton', cursive;
	color: white;
	margin-top: 0;
	font-weight: 500;
	letter-spacing: 5px;
}
header
{
	    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 1);
	    background-color: #034F84;
	    position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;
	    z-index: 1030;
}
.container , .foot, .rights
{
	max-width: 1200px;
	margin: 0 auto;
}
hr
{
	max-width: 1200px;
}
.header
{
	display: flex;
	height: 25px;
}

.header h1 
{
	margin-top: 0px;
}

section
{
	margin-top: 0px;
	display: flex;
	justify-content: space-between;
	color: white;
}

section	a
{
	margin:0;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: white;
}

section
{
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}
.buto
{
	margin-left: -2px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border:2px solid #004B8D;
	height: 24px;
	outline:none;
}
button
{
	margin-left: 50px;
	border:none;
	background-color: white;
	border-radius: 5px;
	color: #004B8D;
}
input
{
	margin-left: 80px;
	width: 600px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border:2px solid #004B8D;
	padding: 10px;
	outline: none;
}
input, button
{
	margin-top: 5px;
}
.sell
{
	width: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #034F84;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
  z-index: 1;
  padding-top: 5px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}
.dropdown-content a:hover 
{
	background-color: #006E6D;
	transition: 0.2s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover 
{
  background-color: #034F84;
}


/*---------------------------Main-----------------------------------*/

.main_top
{
	display: inline-flex;
	margin-top: 40px;
}
.iphones:hover, .phones:hover, .laptops:hover, .tablets:hover, .cameras:hover, .watches:hover 
{
	 box-shadow: 0 2px 8px 0 rgba(6, 25, 77, 1);
	 border-radius: 5px;	
	 cursor: pointer;
	 transform: scale(1.1);
}
.main_top img
{
	width: 11vw;
	height: 25vh;
	margin-right: 50px;
}
.main_top a
{
	margin-left: 46px;
	text-decoration: none;
	color: rgb(6, 25, 77);
	font-weight: 500;
}

.btn-primary
{
	    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
	    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
    	font-size: 14px;
    	background-color: #034F84;
}
.btn-block 
{
    display: block;
    width: 100%;
}
.btn 
{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    user-select: none;
}
div a
{
	text-decoration: none;
	color: white;
}
.icons
{	

	display: flex;
	margin-right: 50px;
	margin-left: 50px;
	justify-content: space-between;
}
.ikonat
{
	margin: 0;
	opacity: 0.3;
}

.compatible
{
	display: flex;
	margin: 0 80px 0 80px;
	justify-content: space-between; 	
}

.verizon, .att, .tmobile, .sprint, .unlocked
{
	margin-top: 30px;
	box-shadow: 0 2px 8px 0 rgba(83, 72, 214, 1);
	border-radius: 5px;
	height: 130px;
	width: 200px;
}
.verizon:hover, .att:hover, .tmobile:hover, .sprint:hover, .unlocked:hover
{
	background-color: lightgrey;
}

.products
{
	display: inline-flex;
	margin-top: 40px;
	height: 250px;
}

.pap:hover, .a:hover, .b:hover, .c:hover, .d:hover, .e:hover 
{
	 box-shadow: 0 2px 8px 0 rgba(6, 25, 77, 1);
	 border-radius: 5px;	
	 cursor: pointer;

	 transform: scale(1.1);
}
.pap, .a, .b, .c, .d, .e 
{
	padding: 20px;
	margin: 0 20px ;
}
.products a
{
	text-decoration: none;
	color: rgb(6, 25, 77);
	font-weight: 500;
}


footer
{
	background-color: #034F84;
	margin-top: 40px;
}
.foot
{
	display: inline-flex;
	margin-left: 130px;

}
.foot a
{
	color: white;
}
.fund 
{
	margin:30px 0px 30px 50px;
}
.fund a:hover
{
	color: #77212E;
}
/*.a >a > img {
	max-width: 100%;
    min-width: 100%;
    height: auto;
    object-fit: contain;
}
*/


.rights
{
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
}
.fab, .fas
{
	font-size: 25px;
	margin: 0 10px;
}
.fab:hover, .fas:hover
{
	color: #77212E;
}


/*****************		Iphones 	********************************/
.sect ul 
{
	display: flex;
}
.sect ul li
{
	margin-left: 20px;
}
.sect ul li a
{
	color:  #034F84;
}